<h5><%= @work.title %></h5>
<div class="container">
  <div class="row">
    <%= image_tag @work.image, :class => "col-sm" %>
  </div>
  <div class="row">
    <div class="col-sm-8">Description: <%= @work.description %></div>
    <div class="col-sm-4">Programing language: <%= @work.language %></div>
  </div>
  <div class="row">
    <div class="col-sm">Price: <%= @work.price %> $</div>
    <div class="col-sm">Added: <%= @work.created_at %></div>
    <div class="col-sm">Updated: <%= @work.updated_at %></div>
  </div><br>
  <div class="btn-block">
    <%= link_to 'Back', works_path, class: "btn-submit" %>
    <% if current_user&.admin? %>
      <%= link_to 'Edit', edit_work_path, class: "btn-submit" %>
      <%= link_to 'Delete', work_path(@work), method: :delete, class: "btn-submit" %>
    <% end %>
  </div><br>
</div>