<div class="form">
  <h1>Profile</h1>
  <% if flash[:success] %>
      <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>

  <%= form_with model: @user do %>
    <p class="user-show"><%= label_tag("First name: #{@user.first_name}") %></p>
    <p class="user-show"><%= label_tag("Last name: #{@user.last_name}") %></p>
    <p class="user-show"><%= label_tag("Saved @mail: #{@user.email}") %></p>
  <% end %>
  <div class="btn-block">
    <%= link_to 'Back', '/', class: "btn-submit" %>
    <%= link_to 'Edit', edit_user_path(current_user), class: "btn-submit" %>
    <%= link_to 'Delete', user_path(@user), method: :delete, class: "btn-submit"  if current_user&.admin? %>
  </div>
</div>

