<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/jquery-latest.min.js"></script>
  <script src="//unslider.com/unslider.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h5 class="title">CORVETT</h5>
  <ul class="menu-main">
    <li><a href="" class="current">Work</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</header>

<%= yield %>

<footer>
  <div class="container">
    <div class="footer-row">
      <div class="footer-col">
        <p>Copyright © 2020 CORVETT</p>
      </div>
      <div class="footer-col">
        <div class="social-icons-wrapper">
          <a class="social-icon" target="_blank" href="https://www.facebook.com/sergey.bogomil"><%= image_tag(asset_path("facebook.png")) %><i class="fa fa-facebook"></i></a>
          <a class="social-icon" target="_blank" href=""><%= image_tag(asset_path("twitter.png")) %><i class="fa fa-twitter"></i></a>
          <a class="social-icon" target="_blank" href=""><%= image_tag(asset_path("google-plus.png")) %><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
