<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/jquery-latest.min.js"></script>
  <script src="//unslider.com/unslider.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h5 class="title">CORVETT</h5>
    <p class="log-user-email"><%= "Logined as: #{current_user.email}" if current_user %></p>
   <ul class="menu-main">
    <% if current_page?(works_path) %>
        <li><%= link_to "Work", works_path, :class => "current"  %></li>
    <% else %>
        <li><%= link_to "Work", works_path %></li>
    <% end %>

    <% if current_page?(about_path) %>
          <li><%= link_to "About", about_path, :class => "current" %></li>
    <% else %>
          <li><%= link_to "About", about_path %></li>
    <% end %>

    <li><a href="http://www.breinkiller.blogspot.com">Blog</a></li>

    <% if current_page?(contact_path) %>
          <li><%= link_to "Contact", contact_path, :class => "current" %></li>
    <% else %>
          <li><%= link_to "Contact", contact_path %></li>
    <% end %>

     <% if current_user %>
         <% if current_page?(signup_path) %>
          <li><%= link_to "Profile", user_path(current_user[:id]), :class => "current" %></li>
         <% else %>
           <li><%= link_to "Profile", user_path(current_user[:id]) %>
         <% end %>
         <li>
           <% if current_user.admin? %>
             <%= link_to 'Admin', admin_path %>
           <% end %>
         </li>

         <li><%= link_to "Log out", logout_path, method: "delete" %></li>
     <% else %>
         <li>
           <% if current_page?(signup_path) %>
             <%= link_to "SignUp", signup_path, :class => "current" %>
           <% else %>
             <%= link_to "SignUp", signup_path %>
           <% end %>
         </li>
         <li>
           <% if current_page?(login_path) %>
             <%= link_to "Login", login_path, :class => "current" %>
           <% else %>
             <%= link_to "Login", login_path %>
           <% end %>
         </li>
     <% end %>



  </ul>
</header>

<%= yield %>

<footer>
  <div class="container">
    <div class="footer-row">
      <div class="footer-col">
        <p>Copyright © 2020 CORVETT</p>
      </div>
      <div class="footer-col">
        <div class="social-icons-wrapper">
          <a class="social-icon" target="_blank" href="https://www.facebook.com/sergey.bogomil"><%= image_tag(asset_path("facebook.png"), :width => 35, :height => 35) %><i class="fa fa-facebook"></i></a>
          <a class="social-icon" target="_blank" href=""><%= image_tag(asset_path("twitter.png"), :width => 35, :height => 35) %><i class="fa fa-twitter"></i></a>
          <a class="social-icon" target="_blank" href=""><%= image_tag(asset_path("google-plus.png"), :width => 35, :height => 35) %><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
